


<style type="text/css">

	@font-face{
  	font-family : "typewriter";

  	src : url('veteran_typewriter.eot');
  	src : url('veteran_typewriter.eot?') format('eot'),
    	  url('veteran_typewriter.woff') format('woff'),
          url('veteran_typewriter.ttf') format('truetype');
	}


	body {
		background-image:url('https://pp.vk.me/c543109/v543109670/208bf/lBtVxtBYhec.jpg'); 
		background-repeat: no-repeat;
		background-size: cover;
	}
	h1 {
		text-decoration-style: Big Caslon;
		margin-left: 20px;
		margin-top: 10px;
	}
	div {
		margin-left: 40%;
		margin-top: 2%;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
		width: 300px;
		text-align: center;
		height:150px;
		
		border-radius: 40px;
	}
	input[type=text]{
		margin:10px;
		height:35px;
		width:250px;
	}
	input[type=password]{
		margin:10px;
		height:35px;
		width:250px;
	}
	input[type=submit]{

		margin:14px;

		border-radius: 20px;

	}
</style>






<h1>Company Name</h1>

<div>

<form action="/register" method="POST">
	
<input type="text" name="name" placeholder="enter your username" >
<br/>
<input type="password" name="password" placeholder="enter your password ">
<br/>
<input type="submit" name="" value="signup :) !!">

</form>

</div>
